html{
    background-color: lightblue;
}

.mainSect {
    
    background: rgb(255, 222, 0);
    background: linear-gradient(180deg, rgba(255, 222, 0, 1) 0%, rgba(255, 192, 0, 1) 100%);

}

.profile-picture {
    border-radius: 0px 0px 30px 30px;

}

.flip-name {
    font-family: 'Montserrat', sans-serif;
    font-weight: 500;
    font-size: 55px;
    color: #07689f;
    perspective: 1000px;


}

.flip-name-inner {
    position: relative;
    width: 100%;
    height: 100%;
    text-align: center;
    transition: transform 0.8s;
    transform-style: preserve-3d;
}

.flip-name:hover .flip-name-inner {
    transform: rotateY(180deg);

}


.flip-name-front,
.flip-name-back {
 
    width: 100%;
    height: 100%;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
}



.flip-name-back {

    background-color: #07689f;
    color: rgb(255, 222, 0);
    transform: rotateY(180deg);
}




.sns {
    font-family: 'Montserrat', sans-serif;
    font-weight: 500;
    font-size: 40px;
    color: #07689f;
}

.col-biodata {
    margin-top: -30px;
    border-radius: 20px 20px 20px 20px;
    background-color: #FEDF84;
}

.biodata {
    font-family: 'Poppins', sans-serif;
    font-weight: 300;
    font-size: 30px;
    color: #07689f;

  
}

.logo-sns {
    max-width: 100px;
    object-fit: contain;

    &:hover {
        transition-duration: 100ms;
        filter: invert(100%);
    }
}

.divider {
    height: 1px;
    width: 100%;
    margin: 9px;
    overflow: hidden;
    background-color: #000000d2;
}

.footer {
   background-color: lightblue;
}

@media only screen and (max-width: 600px) {


    .flip-name {
        margin-top: -30px;
        font-size: 40px;
    }

    .biodata {
        font-size: 20px !important;
    }

    .sns {
        font-size: 15px !important;
    }

    .col-biodata {
        margin-top: 0px;
    }

    .logo-sns {
        max-width: 50px !important;
    }

  


}

@media only screen and (max-width: 900px) {
    .mainSect {
        height: 100vh;
    }

    .footer {
        height: auto;
    }

    .flip-name {
        margin-top: -30px;
        font-size: 40px;
    }

    .biodata {
        font-size: 25px !important;
    }

    .sns {
        font-size: 25px !important;
    }

    .col-biodata {
        margin-top: 0px;
    }

    .logo-sns {
        max-width: 60px !important;
    }


}

@media only screen and (max-width: 1024px) {
    .mainSect {}

    .flip-name {
        margin-top: -30px;
        font-size: 40px;
    }

    .biodata {
        font-size: 20px;
    }

    .sns {
        font-size: 25px;
    }

    .col-biodata {
        margin-top: 0px;
    }

    .logo-sns {
        max-width: 30px;
    }


}


@media only screen and (max-width: 1360px) {
    .mainSect {}

    .flip-name {
        margin-top: -30px;
        font-size: 48px !important;
    }

    .biodata {
        font-size: 20px;
    }

    .sns {
        font-size: 25px;
    }

    .col-biodata {
        margin-top: 10px;
    }

    .logo-sns {
        max-width: 50px;
    }


}

@media only screen and (max-width: 1600px) {
    .mainSect {}

    .flip-name {
        margin-top: -30px;
        font-size: 55px;
    }

    .biodata {
        font-size: 36px;
    }

    .sns {
        font-size: 29px;
    }



    .logo-sns {
        max-width: 80px;
    }


}